<?xml version="1.0"?>
<config>
	<modules>
		<Excellence_Fee>
			<version>0.1.4</version>
		</Excellence_Fee>
	</modules>
	<frontend>
		<routers>
			<excellence_fee>
				<use>standard</use>
				<args>
					<module>Excellence_Fee</module>
					<frontName>excellence_fee</frontName>
				</args>
			</excellence_fee>
		</routers>
		<layout>
			<updates>
				<fee>
					<file>excellence_fee.xml</file>
				</fee>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<fee>
				<use>admin</use>
				<args>
					<module>Excellence_Fee</module>
					<frontName>fee</frontName>
				</args>
			</fee>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<fee>
					<file>fee.xml</file>
				</fee>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<events>
			<sales_order_invoice_pay>
				<observers>
					<sales_order_invoice_pay>
						<class>fee/observer</class>
						<method>onSalesOrderInvoicePay</method>
					</sales_order_invoice_pay>
				</observers>
			</sales_order_invoice_pay>
			<sales_quote_collect_totals_after>
				<observers>
					<sales_quote_collect_totals_after>
						<type>singleton</type>
						<class>fee/observer</class>
						<method>setDiscount</method>
					</sales_quote_collect_totals_after>
				</observers>
			</sales_quote_collect_totals_after>
			<sales_order_invoice_save_after>
				<observers>
					<sales_order_invoice_save_after>
						<class>fee/observer</class>
						<method>invoiceSaveAfter</method>
					</sales_order_invoice_save_after>
				</observers>
			</sales_order_invoice_save_after>
			<sales_order_invoice_register>
            				<observers>
            					<sales_order_invoice_register>
            						<class>fee/observer</class>
            						<method>invoiceSaveAfter</method>
            					</sales_order_invoice_register>
            				</observers>
            </sales_order_invoice_register>
			<sales_order_place_after>
				<observers>
					<sales_order_place_after>
						<class>fee/observer</class>
						<method>onSalesOrderPlaceAfter</method>
					</sales_order_place_after>
				</observers>
			</sales_order_place_after>
			<sales_quote_remove_item>
				<observers>
					<sales_quote_remove_item>
						<class>fee/observer</class>
						<method>checkForCouponSaving</method>
					</sales_quote_remove_item>
				</observers>
			</sales_quote_remove_item>
			<customer_logout>
				<observers>
					<customer_logout>
						<class>fee/observer</class>
						<method>checkForCouponSaving</method>
					</customer_logout>
				</observers>
			</customer_logout>
		</events>
		<fieldsets>
			<sales_convert_quote_address>
				<fee_amount>
					<to_order>*</to_order>
				</fee_amount>
				<base_fee_amount>
					<to_order>*</to_order>
				</base_fee_amount>
			</sales_convert_quote_address>
		</fieldsets>
		<pdf>
			<totals>
				<fee translate="title">
					<title>Fee</title>
					<source_field>fee_amount</source_field>
					<font_size>7</font_size>
					<display_zero>0</display_zero>
					<sort_order>650</sort_order>
					<amount_prefix>-</amount_prefix>
				</fee>
			</totals>
		</pdf>
		<models>
			<fee>
				<class>Excellence_Fee_Model</class>
				<resourceModel>fee_mysql4</resourceModel>
			</fee>
			<fee_mysql4>
				<class>Excellence_Fee_Model_Mysql4</class>
				<entities>
					<fee>
						<table>fee</table>
					</fee>
				</entities>
			</fee_mysql4>
		</models>
		<resources>
			<fee_setup>
				<setup>
					<module>Excellence_Fee</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</fee_setup>
			<fee_write>
				<connection>
					<use>core_write</use>
				</connection>
			</fee_write>
			<fee_read>
				<connection>
					<use>core_read</use>
				</connection>
			</fee_read>
		</resources>
		<blocks>
			<fee>
				<class>Excellence_Fee_Block</class>
			</fee>
		</blocks>
		<helpers>
			<fee>
				<class>Excellence_Fee_Helper</class>
			</fee>
		</helpers>
	</global>
	<default>
		<sales>
			<totals_sort>
				<fee>15</fee>
			</totals_sort>
		</sales>
	</default>
</config>