<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Fee>
            <version>0.1.4</version>
        </Excellence_Fee>
    </modules>
    <frontend>
        <routers>
            <excellence_fee>
                <use>standard</use>
                <args>
                    <module>Coupon</module>
                    <frontName>coupon</frontName>
                </args>
            </excellence_fee>
        </routers>
        <layout>
            <updates>
                <fee>
                    <file>coupon.xml</file>
                </fee>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <fee>
                <use>admin</use>
                <args>
                    <module>Coupon</module>
                    <frontName>coupon</frontName>
                </args>
            </fee>
        </routers>
    </admin>
    <global>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <sales_order_invoice_pay>
                        <class>observer</class>
                        <method>onSalesOrderInvoicePay</method>
                    </sales_order_invoice_pay>
                </observers>
            </sales_order_invoice_pay>
            <sales_quote_collect_totals_after>
                <observers>
                    <sales_quote_collect_totals_after>
                        <type>singleton</type>
                        <class>observer</class>
                        <method>setDiscount</method>
                    </sales_quote_collect_totals_after>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_invoice_register>
                <observers>
                    <sales_order_invoice_register>
                        <class>observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_register>
                </observers>
            </sales_order_invoice_register>
            <sales_order_place_after>
                <observers>
                    <sales_order_place_after>
                        <class>observer</class>
                        <method>onSalesOrderPlaceAfter</method>
                    </sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_quote_remove_item>
                <observers>
                    <sales_quote_remove_item>
                        <class>observer</class>
                        <method>checkForCouponSaving</method>
                    </sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
            <customer_logout>
                <observers>
                    <customer_logout>
                        <class>observer</class>
                        <method>checkForCouponSaving</method>
                    </customer_logout>
                </observers>
            </customer_logout>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <fee_amount>
                    <to_order>*</to_order>
                </fee_amount>
                <base_fee_amount>
                    <to_order>*</to_order>
                </base_fee_amount>
            </sales_convert_quote_address>
        </fieldsets>

        <models>
            <class>Coupon_Model</class>
            <resourceModel>mysql4</resourceModel>
            <mysql4>
                <class>Coupon_Model_Mysql4</class>
            </mysql4>
        </models>
        <resources>
            <setup>
                <setup>
                    <module>Coupon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </setup>
            <write>
                <connection>
                    <use>core_write</use>
                </connection>
            </write>
            <read>
                <connection>
                    <use>core_read</use>
                </connection>
            </read>
        </resources>
        <blocks>
            <class>Coupon_Block</class>
        </blocks>
        <helpers>
            <class>Coupon_Helper</class>
        </helpers>
    </global>
    <default>
        <sales>
            <totals_sort>
                <fee>15</fee>
            </totals_sort>
        </sales>
    </default>
</config>